nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
nav ul {
  display: flex;
  list-style: none;
  color: #c94e4e;
}
nav li {
  padding: 10px;
}
nav .food {
  width: 30px;
  height: 30px;
}
nav img {
  width: 160px;
  height: 80px;
}
nav a {
  text-decoration: none;
  color: #d43d3d;
  padding: 20px;
}

footer {
  display: flex;
  background-color: black;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
footer ul {
  display: flex;
  list-style: none;
  padding: 20px;
  font-size: 16px;
  color: #d43d3d;
}
footer ul img {
  width: 40px;
  height: 40px;
}
footer li {
  padding-right: 50px;
  padding-left: 50px;
}

.para_footer {
  background-color: black;
  color: #d43d3d;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

#caroussel {
  width: 1400px;
  height: 600px;
  overflow: hidden;
}
#caroussel .images {
  display: flex;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: foods;
          animation-name: foods;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes foods {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-640px);
  }
  50% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes foods {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-640px);
  }
  50% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  background-color: white;
  margin: 0 auto;
  width: 1400px;
}

.color {
  background-color: black;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1400px;
  width: 5px;
  margin: 0px auto;
  justify-content: center;
  gap: 100px;
}
.grid .name {
  background-color: #d43d3d;
  margin: 0 auto;
  text-align: center;
  padding: 3px;
  width: 100px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 20px;
}
.grid .grid-items {
  position: relative;
  padding: 3px;
}
.grid .grid-items .price {
  position: absolute;
  width: 100px;
  font-size: 18px;
  padding: 3px;
  background-color: white;
  left: 190px;
  bottom: 80px;
}
.grid img {
  width: 300px;
  height: 230px;
}

.flex_home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.flex_home ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}
.flex_home li {
  padding: 5px;
}
.flex_home #map {
  width: 500px;
  height: 300px;
}

.menu {
  text-align: center;
}
.menu img {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
}