.flex_home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;

    ul{
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    li{
        padding: 5px;
    }
    
    #map {
    width: 500px;
    height: 300px;
}
}

.menu{
    text-align: center;
    
    img{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    }
}