body{
    background-color: white;
    margin: 0 auto;
    width: 1400px;
    
    h1, h2{
    font-family: 'Dela Gothic One', cursive;
}

    p, ul, li{
    font-family: 'Oswald', sans-serif;
    }
}

@media (min-width: 320px) and (max-width: 500px){
    body{
        background-color: white;
        margin: 0 auto;
        width: 380px;
    }
}