@import '../abstract/variables.scss';

footer{
    background-color: black; 
    
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items:center;
        padding: 20px;
        margin: 0;
        font-size: 16px;
        color: $menu;

        img{
            width: 40px;
            height: 40px;
        }
    }

    li{
        padding-right: 50px;
        padding-left: 50px;
    }
}
   


.para_footer{
        background-color: black;
        color: $menu;
        margin: 0;
        font-size: 20px;
        text-align: center;
}