@import '../abstract/variables.scss';

footer{
    background-color: black; 
    padding-bottom: 50px;
    padding-top: 20px;
    width: 1400px;
    
    .footer{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 20px;
        margin: 0 auto;  
        font-size: 16px;
        color: $menu;

        li{
        text-align: center;
        padding: 20px;
        width: 100px;
        
        a{
        text-align: center;
        text-decoration: none;

        width: 100px;
        color: $menu;
        }

        a:hover{
            text-decoration: underline;
        }
        }
        img{
            width: 50px;
            text-align: center;
            height: auto;
            padding: 10px;
            margin: 0 auto;
        }    
    
       
    }
}
   


.para_footer{
        background-color: black;
        padding-top: 20px;
        color: $menu;
        margin: 0;
        font-size: 20px;
        text-align: center;
}