@import '../abstract/variables.scss';

.color{
    background-color: black;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    width: 5px;
    margin: 0px auto;
    justify-content: center;
    gap: 200px;

    p{
        background-color: $menu;
        margin: 0 auto;
        padding: 3px;
        margin-bottom: 8px;
        font-size: 20px;
        width: 70px;
    }


    .grid-items{
        position: relative;
        padding: 3px;
        
        
        .price{
        position: absolute;
        width: 100px;
        font-size: 18px;
        padding: 3px;
        background-color: $menu;
        left: 150px;
        bottom: 30px;
    }
        
    }
        img{
            width: 250px;
        }
 
}