@import '../abstract/variables.scss';

.color{
    background-color: black;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    width: 5px;
    margin: 0px auto;
    justify-content: center;
    gap: 100px;

    .name{
        background-color: $menu;
        margin: 0 auto;
        text-align: center;
        padding: 3px;
        width: 100px;
        border-radius: 4px;
        margin-bottom: 8px;
        font-size: 20px;
    }


    .grid-items{
        position: relative;
        padding: 3px;
        
        
        .price{
        position: absolute;
        width: 100px;
        font-size: 18px;
        padding: 3px;
        background-color: white;
        left: 190px;
        bottom: 80px;
    }
        
    }
        img{
            width: 300px;
            height: 230px;
        }
 
}