@import '../abstract/variables';

#caroussel{
    width: 1400px;
    height: 600px;
    overflow: hidden;
    
    .images{
    display: flex;
    animation-duration: 10s;
    animation-name: foods;
    animation-iteration-count: infinite;
}
}



@keyframes foods {
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-640px);
    }
    50% {
        transform: translateX(-1200px);
    }

    100%{
        transform: translateX(0);
    }
}