@import '../abstract/variables';

#caroussel{
    width: 1400px;
    height: 600px;
    overflow: hidden;
    
    .images{
    display: flex;
    animation-duration: 20s;
    animation-name: foods;
    animation-iteration-count: infinite;
}
}



@keyframes foods {
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-1500px);
    }

    50%{
        transform: translateX(-3000px);
    }

    75%{
        transform: translateX(-4500px);
    }

    100%{
        transform: translateX(0);
    }
}