@import '../abstract/variables.scss';

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;

        ul{
            display: flex;
            list-style: none;
            color: rgb(201, 78, 78);
        }

        li{
            padding: 10px;
        }

        .food{
            width: 30px;
            height: 30px;
        }

        img{
            width: 80px;
            height: 80px;
        }

        a{
            text-decoration:none;
            color: $menu;
            padding: 20px;
        }
    
}